@font-face {
    font-family: 'space-grotesk-bold';
    src: url(SpaceGrotesk-Bold.ttf)
    /* fonts a revoir */
}
p1 {
    font-family: "space-grotesk-bold";
    
}
h1 {
    font-family: "space-grotesk-bold";
    margin: auto;
    text-align: left;
    color: #333;
    font-size: 18px;
    white-space: 1px;
    font-weight: 1;
    line-break: auto;
    margin: 25px;
}   
.square:hover h1{
    color: white;
    
}