#container {
    display: flex;
    justify-content: center;
    margin-top: 400px;
}

.square {
    height: 230px;
    width: 180px;
    background-color: #f8f7f1;
    border-radius: 10px;
    transition: transform .2s;
    margin: 10px;
}

.square:hover {
    transform: scale(1.055);
}
