.square {
    height: 280px;
    width: 230px;
    background-color: #e4a528;
    border-radius: 10px;
    transition: transform .2s;
    align-items: center;
    /* To change the position of the square */
  }
  
.square:hover {
    transform: scale(1.055); 
}


.square1 {
    height: 280px;
    width: 230px;
    background-color: #e4a528;
    border-radius: 10px;
    margin: 0 auto;
    position: fixed; left:360px; top:400px;
    transition: transform .2s;
    /* To change the position of the square */
  }
  
.square1:hover {
    transform: scale(1.055); 
}

.square2 {
    height: 230px;
    width: 200px;
    background-color: #e4a528;
    border-radius: 10px;
    margin: 0 auto;
    position: fixed; left:880px; top:400px;
    transition: transform .2s;
    /* To change the position of the square */
  }
  
.square2:hover {
    transform: scale(1.055); 
}

.square3 {
    height: 230px;
    width: 200px;
    background-color: #e4a528;
    border-radius: 10px;
    margin: 0 auto;
    position: fixed; left:810px; top:400px;
    transition: transform .2s;
    /* To change the position of the square */
  }
  
.square3:hover {
    transform: scale(1.055); 
}       

.square4 {
    height: 230px;
    width: 200px;
    background-color: #e4a528;
    border-radius: 10px;
    margin: 0 auto;
    position: fixed; left:1030px; top:400px;
    transition: transform .2s;
    /* To change the position of the square */
  }
  
.square4:hover {
    transform: scale(1.055); 
}       
