* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: space;
    src: url(SpaceGrotesk-Regular.ttf);
}

#container{
    width: 728px;
    max-width: 100%;
    position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;  
   animation-duration: 1s;
   animation-name: transition_anim;
   animation-iteration-count: 1;
   animation-fill-mode: forwards;
   
}
@keyframes transition_anim{
    0% {opacity:0; transform: translateY(65px);}
    100% {transform: translateY(0px); opacity: 1; }
    
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

h1{
    margin-top: 100px;
    font-family: space;
    font-weight: 700;
}

h2{
    font-family: space;
    font-weight: 500;
}

h3{
    font-family: space;
    font-weight: 500;
}

hr {
    border: 100px;
    border-top: 3px double #f064a4;
    color: #f064a4;
    overflow: visible;
    height: 10px;
    width: auto;
}

hr:after {
    background: #fff;
    padding: 0 4px;
    position: relative;
    top: -13px;
}

ul{
    font-family: space;
    list-style-type: disc;
    color: #f064a4 ;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

h3.programme{
    font-family: space;
    font-weight: 700;
}

ul.programme{
    line-height: 125%;
    margin-bottom: 100px;
    margin-left: 2rem;
}

#index{
    margin-bottom: 30px;
    margin-top: 20px;
}

#confe{
    margin-top: 50px;
    margin-bottom: 20px;
}

#programme{
    margin-top: 20px;
    margin-bottom: 20px;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color: white;
}

::-webkit-scrollbar-thumb{
    background: #f064a4;
    border-radius: 10px;
}
