
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tableau {
    margin-left: 70px;
    font-family: space;
    padding-bottom: 80px;
    max-width: 30rem;
}



input,
select {
    display: block;
    font-family: space;
    font-size: 1rem;
    font-weight: 500;
    height: 2rem;
    width: 100%;
    border: 1px solid #000;
    border-radius: .25rem;
    transition: all .0,75s;
}

input:focus,    
select:focus {
    border-color: #e63888;
    outline: 3px solid rgb(220, 139, 228);
}

label {
    display: block;
    width: 100%;
    font-family: space;
    font-weight: 500;
    border-radius: .25rem;
    padding-bottom: 25px;
}


