*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: space;
}

@font-face {
    font-family: space;
    src: url(SpaceGrotesk-Regular.ttf);
}

#container{
    width: 728px;
    max-width: 100%;
    position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;  
}

#titre{
    margin-left: 350px;
    margin-top: 60px;
    font-size: 40px;
    line-height: 44px;
    color: #333;
}

#ptitre{
    margin-top: 200px;
    margin-bottom: 60px;
}

h1{
    color: #556B2F;
    margin-top: 100px;
}

h2{
    color: #84bd00;
    margin-bottom: 35px;
    margin-top: 40px;
}

.p{
    margin-bottom: 20px;
}

ul{
    list-style-type: disc;
    color: #84bd00;
    margin-left: 20px;
    margin-bottom: 30px;
}


::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color: white;
}

::-webkit-scrollbar-thumb{
    background: #556B2F;
    border-radius: 10px;
}

button {
    width: 100%;
    height: 100px;
    background-color: #556B2F;
    text-align: center;
    border: none;
    color: white;
    padding: 16px 32px;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
 }

  #button1,
  #button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #556B2F;
  }

  #button1:hover,
  #button2:hover {
    background-color: #556B2F;
    color: white;
  }


