* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: space;
}

@font-face {
    font-family: space;
    src: url(SpaceGrotesk-Regular.ttf);
}

#container {
    width: 728px;
    max-width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#titre {
    margin-left: 400px;
    margin-top: 80px;
    font-size: 40px;
    line-height: 44px;
    color: #333;
}

#ptitre {
    margin-top: 200px;
    margin-bottom: 60px;
}

h1 {
    color: #556B2F;
}

h2 {
    color: #84bd00;
}

#a {
    margin-bottom: 60px;
}

#b {
    margin-top: 60px;
    margin-bottom: 60px;
}

p {
    margin-bottom: 20px;
}

#premier-paragraphe {
    padding-bottom: 50px;
}

#liste {
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 70px;
    line-height: 100%;
}

#li {
    margin-top: 50px;
    margin-left: 20px;
    line-height: 100%;
}

#lili {
    margin-left: 20px;
    margin-bottom: 70px;
    line-height: 100%;
}

ul {
    list-style-type: disc;
    color: #84bd00;
    margin-left: 20px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background: #556B2F;
    border-radius: 10px;
}