* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: space;
}

@font-face {
    font-family: space;
    src: url(SpaceGrotesk-Regular.ttf);
}

@font-face {
    font-family: space-bold;
    src: url(SpaceGrotesk-Bold.ttf);
}

#map {
    margin-left: 9px;
    margin-top: 18px;
    width: 800px;
    height: 600px;
    -moz-box-shadow: -3px 3px 5px 0px #8e3a80;
    -webkit-box-shadow: -3px 3px 5px 0px #8e3a80;
    -o-box-shadow: -3px 3px 5px 0px #8e3a80;
    box-shadow: -3px 3px 5px 0px #8e3a80;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border-color: #8e3a80;
}

#container {
    width: 728px;
    max-width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#Titre {
    font-family: space;
    margin-top: 100px;
    line-height: 44px;
    color: #333;
    margin-left: 585px;
}

#amd {
    margin-top: 200px;
    font-weight: 700;
    color: #8e3a80;
}

.train {
    margin-bottom: 30px;
}

#train {
    color: #8e3a80;
    margin-top: 70px;
    margin-bottom: 40px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background: #8e3a80;
    border-radius: 10px;
}

h2 {
    color: #DDA0DD;
}

img {
    border-radius: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
}